@import url("https://fonts.googleapis.com/css?family=Oswald|Roboto");
body {
  font-family: "Oswald", sans-serif;
  color: #222222;
  background-color: #f1f1f1; }

h1, h2, #records {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.table {
  border: #222222 2px solid;
  padding: 10px; }

#match_data tbody {
  border-top: #222222 2px solid; }

.form_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
  margin-bottom: 15px; }
  .form_row label {
    margin: 0 5px 0 20px; }
  .form_row input:focus {
    outline-color: #fe9935; }
  .form_row #submit {
    background-color: #fe9935;
    color: #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    padding: 12px;
    font-size: 1.25em;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease; }
  .form_row #submit:hover {
    box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.45);
    color: #222222; }

th {
  padding: 0 10px; }

tr {
  text-align: center; }

.paginate_button {
  margin: 0 5px; }
