@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');

$primary-font: 'Oswald', sans-serif;
$second-font: 'Roboto', sans-serif;

$primary-color: #222222;
$orange: #fe9935;
$light-grey:#f1f1f1;
$white:#fff;

$table-border: $primary-color 2px solid;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin transition($transition) {
  -webkit-transition: $transition;
  transition: $transition;
}

body{
  font-family: $primary-font;
  color:$primary-color;
  background-color: $light-grey;
}
h1,h2,#records{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.table{
  border: $table-border;
  padding: 10px;
}
#match_data tbody {
  border-top: $table-border;
}
.form_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
  margin-bottom:15px;
  label {
    margin: 0 5px 0 20px;
  }
  input:focus {
    outline-color: $orange;
  }
  #submit{
    background-color: $orange;
    color:$white;
    @include border-radius(8px);
    padding: 12px;
    font-size: 1.25em;
    font-weight: 700;
    text-transform: uppercase;
    @include transition(all 200ms ease);
  }
  #submit:hover{
    box-shadow: 0 0 12px 1px rgba(0, 0, 0, .45);
    color: $primary-color;
  }
}
th{padding:0 10px;}
tr {text-align: center;}
.paginate_button {margin:0 5px;}
